<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/estilos_romeo.css' %}" type="text/css" rel="stylesheet">
    <title>
    {% block titulo %}
    
    {% endblock titulo %}
    </title>
</head>
<body>
    <header>
        <nav>
            <!-- comentario OL (lista ordenada) UL (lista sin orden) LI (indice de lista) -->
            <ol>
                <li>
                    <a href="{% url 'HOME' %}"> Home</a>
                </li>
                <li>
                    <a href="{% url 'GALE' %}"> Galeria</a>
                </li>
                <li>
                    <a href="{% url 'FORMU' %}"> Formulario</a>
                </li>
                <li>
                    <a href="{% url 'FORMU2' %}">Formulario DOS</a>
                </li>
                <li>
                    <a href=""> Quienes Somos</a>
                </li>
                <li>
                    <a href=""> Carrito de Compras</a>
                </li>
                <li>
                    <a href="{% url 'LOGOUT' %}"> Logout</a>
                </li>
            </ol>
        </nav>
    </header>
    <section>
       {% block contenido %}
       
       {% endblock contenido %}             
    </section>
</body>

</html>